@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

$colors: (
    body: #020308,
    primary: #d1ff0d,
    secondary: #000,
    third: #fff,
);

body{
    background-color: map-get($colors, body);
    font-family: 'Roboto', sans-serif;
}

body::before{
    display: block;
    content: ' ';
}

#topbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;

    .line{
        border-bottom: 1px solid #dedede;
        width: 100%;
        position: relative;
        top: 20px;
    
    } 
    .navbar-brand{
        position: relative;
        left: 8px;
    }
}

.nav-link{
    color: map-get($colors, secondary) !important;
    font-size: 14px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 1rem;
}

main{
    background-image: url(../assets/Rectangle4.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    #main{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        height: 100vh;
  
        .main-title h1{
            color: map-get($colors, primary);
            font-family: 'Michroma', sans-serif;
            text-align: center;
            font-size: 80px;
        }
        .btn{
            padding: .375rem .35em; 
        }
        .primary{
            border-color: map-get($colors, primary);
            background-color: transparent !important;
            width: 175px;
            font-weight: bold;
            transition: .4s;
            margin-top: 25px;
        }
        .primary:hover{
            transform: scale(1.1);
        }
        .secondary{
            border-color: map-get($colors, primary);
            background-color: map-get($colors, primary);
            font-weight: bold;
            box-shadow: 5px 5px 50px 0px #d1ff0d; 
            margin-left: 15px;
            width: 175px;
            transition: .4s;
            margin-top: 25px;
        }
        .secondary:hover{
            transform: scale(1.1);
        }
        .primary a{
            color: map-get($colors, primary);
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            margin: 0px 10px;
        }
        .secondary a{
            color: map-get($colors,secondary); 
            text-decoration: none;
            font-size: 16px;
            text-align: center;
            margin: 0px 10px;
        }
        h4{
            color: map-get($colors, third);
            font-family: 'Roboto', sans-serif;
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 2px;
            margin-top: 25px;
        }
    }
}

.presentation, .show-mobile{

    .presentation-title h2{
        color: map-get($colors, primary);
        font-size: 50px;
        font-family: 'Michroma', sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        margin-top: 75px;
        margin-bottom: 100px;
    }
    
    .presentation-subtitle{
        color: map-get($colors, primary);
        font-family: 'Michroma', sans-serif;
        font-size: 32px;
        font-weight: 400;
        font-style: normal;
    }
    
    .normal{
        color: map-get($colors, third);
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        letter-spacing: 0.02em;
        padding-top: 20px;
    }
    .image-zoom{
        transition: .4s;
    }
    .image-zoom:hover{
        transform: scale(1.050);
    }
}

.webform-title h2{
    color: map-get($colors, primary);
    font-size: 50px;
    font-family: 'Michroma', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
}

.webform-subtitle{
    color: map-get($colors, third);
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    text-align: center;
}

input[type="name"], input[type="email"], input[type="text"]{
    background-color: transparent !important;
    color: white !important;
    padding: 15px 15px !important;
}

::placeholder{
    color: map-get($colors, third) !important;
}

.form-control:focus {
    border-color: map-get($colors, primary);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px (#d1ff0d);
}

form{
    margin-top: 50px;
    text-align: center;

    .form-control{
        width: 40%;
        color: map-get($colors, third);
        background-color: transparent;
        border-radius: 0px;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.02em;
        font-weight: 400;
        font-style: normal;
        margin-left: auto;
        margin-right: auto;
        border-color: #d1ff0d;
    } 
    .secondary{
        border-color: map-get($colors, primary);
        background-color: map-get($colors, primary);
        box-shadow: 5px 5px 50px 0px #d1ff0d;
        width: 175px;
        color: map-get($colors, secondary);
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        transition: .4s;
        margin: 0px 10px;
        margin-top: 50px;
    }
    .secondary:hover{
        transform: scale(1.1);
        background-color: #d1ff0d;
        color: map-get($colors, secondary);
        border-color: transparent;
    }
}

.features{

    .features-title h2{
        color: map-get($colors, primary);
        font-family: 'Michroma', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .features-h3{
        color: map-get($colors, primary);
        font-family: 'Michroma', sans-serif;
        font-size: 32px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .features-p{
        color: map-get($colors, third);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 10px;
    }
    .image-zoom{
        transition: .4s;
    }
    .image-zoom:hover{
        transform: scale(1.050);
    }
}

.decidion{

    .decidion-title h2{
        color: map-get($colors, primary);
        font-family: 'Michroma', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 50px;
        text-align: center;
        padding-top: 50px;
    }
    .decidion-title p{
        color: map-get($colors, third);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        text-align: center;
        padding-top: 20px;
    }
    .secondary{
        border-color: map-get($colors, primary);
        background-color: map-get($colors, primary);
        box-shadow: 5px 5px 50px 0px #d1ff0d;
        width: 175px;
        color: map-get($colors, secondary);
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        transition: .4s;
        margin: 0px 10px;
        margin-top: 30px;
    }
    .secondary:hover{
        transform: scale(1.1);
        background-color: #d1ff0d;
        color: map-get($colors, secondary);
        border-color: transparent;
    }
    .secondary a{
        font-size: 16px;
        text-decoration: none;
        color: map-get($colors, secondary);
    }
    .decidion-img{
        margin-top: 100px;
        margin-bottom: 30px;
        position: relative;
    }
    .image-zoom{
        transition: .4s;
    }
    .image-zoom:hover{
        transform: scale(1.050);
    }
    .arrow-right{
        position: absolute;
        bottom: 40px;
        left: 50px;
    }
    .decidion-img-text{
        color: map-get($colors, secondary);
        font-family: 'Michroma', sans-serif;
        font-size: 40px;
        font-weight: 400;
        font-style: normal;
        position: absolute;
        bottom: 10px;
        left: 80px;
    }
}

.footer{
    height: 200px;
    border-top: solid .5px white;
    padding-top: 50px;
    margin-top: 85px;
    margin-bottom: 75px;

    .footer-heading{
        font-size: 16px;
    }

    li{
        list-style-type: none;
    }
    a{
        color: map-get($colors, third);
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.02em;
        font-weight: 400;
        font-style: normal;
    }
    .square-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    p{
        color: map-get($colors, secondary);
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 0.02em;
        font-weight: 400;
        font-style: normal;
        padding-top: 25px;
    }
    .p-other{
        padding-top: 5px;
    }

    .underfooter a{
        color: map-get($colors, secondary);
        text-decoration: underline;
        font-size: 14px;
    }
}

@media(max-width: 576px){
    main{
        #main{
            height: 90vh;
            .main-title h1{
                font-size: 45px;
            }
            .secondary{
                margin-left: 0px;
            }
        }
        
    }
    .presentation{
        .presentation-title h2{
            font-size: 35px;
        }
    }
    .webform{
        .webform-title h2{
            font-size: 35px;
        }
    }
    .features{
        .features-title h2{
            font-size: 33px;
        }
    }
    .decidion{
        .decidion-title h2{
            font-size: 35px;
        }
    }
    form{
        .form-control{
            width: 90%;
        }
    }
    .features-p{
        padding-bottom: 25px;
    }
    .decidion-img{
        position: relative;

        .arrow-right{
            position: absolute;
            bottom: 22px;
            left: 20px;
            width: 18px;
            height: 14px;
        }
        .decidion-img-text{
            position: absolute;
            bottom: -7px;
            left: 50px;
            font-size: 20px;
        }
    }
    .presentation .presentation-title h2, .show-mobile .presentation-title h2 {
        margin-top: 25px;
        margin-bottom: 50px;
    }
}

@media(max-width:992px){
    form{
     .form-control{
            width: 60%;
        }
    }
    .presentation .presentation-title h2, .show-mobile .presentation-title h2 {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .mobile-hidden{
        visibility: hidden;
        position: absolute;
    }
}

@media(min-width: 1440px){
    main{
        background-size: contain;

        #main{
            height: 84vh;
        }
    }
}

@media(max-width: 1020px){
    .presentation{
        visibility: collapse;
        position: absolute;
    }
}

@media(min-width: 1024px){
    .show-mobile{
        visibility: collapse;
        position: absolute;
    }
    main{

        #main{
            height: 83vh;
        }
    }
    form{

        .form-control{
               width: 40%;
        }
    }
}

@media(width: 1024px){
    main{

        #main{
            height: 75vh;
        }
    }
}

@media(max-width: 900px){
    main{

        #main{
            height: 87.5vh;
        }
    }
    .features{
        .features-h3{
            font-size: 19px;
        }
    }
    .decidion-img{
        position: relative;

        .arrow-right{
            position: absolute;
            bottom: 35px;
            left: 20px;
            width: 18px;
            height: 14px;
        }
        .decidion-img-text{
            position: absolute;
            bottom: 0px;
            left: 50px;
            font-size: 30px;
        }
    }   
}

@media(max-width: 435px){
    main{

        #main{
            height: 84vh;
        }
    }
    .presentation .presentation-subtitle, .show-mobile .presentation-subtitle {
        padding-top: 25px;
    }
    .decidion-img{
        position: relative;

        .arrow-right{
            position: absolute;
            bottom: 20px;
            left: 20px;
            width: 14px;
            height: 10px;
        }
        .decidion-img-text{
            position: absolute;
            bottom: -8px;
            left: 50px;
            font-size: 17px;
        }
    }
    form{
        .form-control{
               width: 90%;
           }
       }
}

@media(max-width: 385px){
    main{
        #main{
            height: 95.5vh;
        }
    }
    form{
        .form-control{
               width: 90%;
           }
       }
}

@media(width: 384px){
    main{

        #main{
            height: 92vh;
        }
    }
}

@media(max-width: 1250px){
    
    .wrapper{
        visibility: hidden;
    }
}

.topbar-box-right-gray{
    width: 225px;
    height: 112px;
    position: absolute;
    left: 75.4%;
    background-color: #f2f2ff !important;
    z-index: 1040;
}

.topbar-box-right-blue{
    width: 225px;
    height: 45px;
    position: absolute;
    left: 75.4%;
    top: 112px;
    background-color: #2A4B6D !important;
    z-index: 1050;
}

.contact a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: map-get($colors, third);
    text-decoration: none;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 45px;
}

.configurator a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #2A4B6D;
    text-decoration: none;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 45px;
}

.form-inline{
    padding-top: 30px;
}

.bi{
    padding-right: 12px;
}

form{
    .search-form {
        width: 87%;
        color: map-get($colors, secondary);
        background-color: white;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.02em;
        font-weight: 400;
        font-style: normal;
        margin-left: auto;
        margin-right: auto;
        border-color: #dadada;
        border-radius: 5px;
    }
    .search-form::placeholder{
        color: map-get($colors, secondary) !important;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
    }
    .search-form:focus{
        border-color: #dadada;
        box-shadow: none;
    }
    input[type="search"]{
        padding: 5px 10px !important;
    } 
}

.wrapper{
    position: fixed;
    left: 75.4%;
    z-index: 2000;
}

@media(max-width: 1024px){
    main{
        background-image: url(../assets/Rectangle4.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        height: 100vh;
    }
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    box-shadow: none !important;
}

.carousel-item{
    height: 425px;

    .features-h3{
        color: map-get($colors, primary);
        font-family: 'Michroma', sans-serif;
        font-size: 28px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .features-p{
        color: map-get($colors, third);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        padding-top: 10px;
    }
}

@media(max-width: 992px){
    .features{
        visibility: hidden;
        position: absolute;
    }
}

#featuresCarousel{
    margin-top: 100px;

    .features-title h2{
        color: map-get($colors, primary);
        font-family: 'Michroma', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 35px;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
    }
}

@media(min-width: 993px){
    #featuresCarousel{
        visibility: hidden;
        position: absolute;
    }
}
